<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Ingrese Direccion</ion-label>
      <ion-select ok-text="Aceptar" cancel-text="Cancelar">
        <ion-select-option value="vinna">Viña Del Mar</ion-select-option>
        <ion-select-option value="valparaiso">Valparaiso</ion-select-option>
        <ion-select-option value="quilpue">Quilpue</ion-select-option>
        <ion-select-option value="villaAlemana">Villa Alemana</ion-select-option>
        <ion-select-option value="quillota">Quillota</ion-select-option>
        <ion-select-option value="laCruz">La Cruz</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>