<img src="assets/img/duoc.jpg" alt=""/>
<ion-content>
  <img class="padding-left" src="assets/img/Recuperar.png">
<ion-item lines="full">
<ion-label position="floating">NOMBRE USUARIO</ion-label>
<ion-input placeholder="Usuario"  [(ngModel)]="dato.user" ></ion-input>
</ion-item>
  <ion-button expand="block" class="primary" (click)="login()">RECUPERAR</ion-button>
  <div class="ion-text-center">
      <ion-col>
        <ion-label [routerLink]="['/home']">
          Volver a inicio</ion-label>
      </ion-col>
    </div>

</ion-content>

