<ion-header > 
    <img src="assets/img/duoc.jpg" alt=""/>
    
</ion-header>
<ion-content>
      
    
      <img (click)="siguiente()" src="assets/img/tellevo.jpg" alt="">
      
    
</ion-content>

<ion-content>
  <ion-fab horizontal="top" vertical="center" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>