<ion-router-outlet></ion-router-outlet>
<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2" size-md="2">
        <ion-toolbar>
          <ion-buttons>
            <ion-menu-button (click)="toggleMenu" autoHide="false" color="primary">
            </ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
      <ion-col size="10" size-md="10">
        <img src="assets/img/Logo.png" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label class="ion-text-center" color="primary">
          Usuario {{dato}}
        </ion-label>
      </ion-item>
      <ion-searchbar showCancelButton="never" placeholder="¿Donde vamos?"></ion-searchbar>
      <img src="assets/img/mapa.png" alt="" />
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" class="primary" (click)="presentAlert()">CONFIRMAR</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-button expand="block" class="primary" (click)="costo()">VER COSTOS</ion-button>