<ion-header value="menu"></ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-content>
  <ion-item>
    <ion-select placeholder="Seleccione una comuna" [(ngModel)]="direccion">
      <ion-select-option *ngFor="let com of Comuna" [value]="com">{{com.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Seleccione una Sede" [(ngModel)]="sede">
      <ion-select-option *ngFor="let sed of Sede" [value]="sed">{{sed.Sede}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Vehiculo Propio" [(ngModel)]="vehP">
      <ion-select-option *ngFor="let pro of Propia" [value]="pro">{{pro.Tiene}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Tipo Vehiculo" [(ngModel)]="tipoVehiculo">
      <ion-select-option *ngFor="let veh of Vehiculo" [value]="veh">{{veh.Tipo}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
<ion-button expand="block" class="primary" (click)="costo()" (click)="crearViaje()">Confirmar Direccion
</ion-button>
<ion-button expand="block" class="primary" (click)="Cargar()" (click)="siguiente()">Consultar Precio</ion-button>